@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600&family=Mooli&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    background: #000;
    color: #fff;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/homepage-image.jpg);
    background-size:unset;
    background-position: cover;
    padding: 10px 8%;
    position: relative;
    z-index: 2;
    border-bottom: 8px solid #333;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    cursor: pointer;
    width: 150px;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}

select{
    border: 1px solid #eee;
    outline: 0;
    background: none;
    color: #fff;
    padding: 7px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}

select:focus{
    outline: 3px solid white;
    outline-offset: 3px;
}

select option{
    color: #000;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;

}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.header-content p{
    font-size: 1.2rem;

}

.email-signup{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.email-signup input{
    flex: 1;
    font-size: 24px;
    line-height: 1.5;
    margin-left: 20px;
    width: 80%;
    background-color: rgba(29, 29, 29, 0.5);
    padding: 1rem ;
    line-height: 1.5;
    color: #d3d3d3;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-signup input:focus{
    outline: 3px solid #777;
    outline-offset: 3px;
}

.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.8vw;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.8rem;

}

.email-signup button:hover{
    background-color: #dc1717;
}

.features{
    padding: 50px 12px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.row{
    display: flex;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

hr{
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    height: 8px;
    background-color: #333;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    text-align: left;

}

.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    position: relative;
}

.img-col img{
    display: block;
    width: 90%;
    margin: auto;
    position: relative;
}

.video-overlay{
    position: absolute;
    top: 21%;
    left: 16.6%;
    display: block;
    width: 65.8%;
    margin: auto;
}

.video1{
    width: 100%;
}

.features .text-col h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.features p{
    font-size: 1.5rem;
    font-weight: 400;
}


.faq{
    padding: 10px 12%;
    text-align: center;
}

.faq h2{
    font-size: 3rem;
    font-weight: 900;
}

.accordion{
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 2px;
    background-color: #303030;
    position: relative;
    list-style: none;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;

}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;

}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
    font-size: 1.5rem;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);

}

.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px ;

}
.faq .email-signup input{
    border: 3px solid #777;
}

.faq small{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;

}

.footer{
    padding: 50px 2% 8% 12% ;
    border-top: 6px solid #333;
    color: #777;   

}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 16px;
    margin-bottom: 15px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.copyright-text{
    margin-top: 1.5rem;
    font-size: 16px;
}

.footer select{
    margin-left: 0px;
}




/* Media queries */

@media only screen and (max-width:820px){
    .video-overlay{
        top: 2.7rem;
    }
}


@media only screen and (max-width:600px){
    .logo{
        width: 100px;
    }

    nav button, select{
        padding: 5px 10px;
    }

    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }

    .header-content h1{
        font-size: 30px;
        line-height: 40px;
        
    }

    .header-content h3{
        font-size: 18px;
    }

    .header-content p{
        font-size: 16px;
    }

    .email-signup input{
        font-size: 12px;
        padding: 10px 15px;
    }

    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;
    }

    .text-col, .img-col{
        flex-basis: 100%;
    }

    .video-overlay{
        top: 21%;
    }

    .features .row .text-col h2{
        font-size: 30px;
        text-align: center;
    }

    .features .row .text-col p{
        font-size: 15px;
    }

    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }

    .features .row{
        padding: 10px 0;
    }

    .faq{
        padding: 6px 6%;
    }

    .faq h2{
        font-size: 30px;
    }

    .accordion .content{
        font-size: 14px;
    }

    .accordion li label{
        padding: 10px;
        font-size: 18px;
    }

    .accordion input[type="radio"]:checked + label + .content{
        font-size: 18px;
    }

    label::after{
        font-size: 20px;
    }

}
